<p id="notice"><%= notice %></p>



<div class="list">
  <% @recipes.each do |recipe| %>
    <div class="video">
      <%= render :partial => "recipe_image", :locals => { local_recipe: recipe }  %>

       <p><%= link_to recipe.title, recipe %></p>
       <p><%= recipe.description %></p>
    </div>
  <% end %>
</div>

<div class="clearfix"></div>

<%= link_to 'レシピを新しく投稿する', new_recipe_path %>
