<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :recipe_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :recipe_description %>
  </div>

  <div class="field">
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :expense %>
    <%= form.number_field :expense, id: :recipe_expense %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.number_field :time, id: :recipe_time %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo, id: :recipe_memo %>
  </div>

  材料
  <%= form.fields_for :materials do |mat| %>
    <%= render partial: "materials_form", locals: {df: mat } %>
  <% end %>

  調理手順
  <%= form.fields_for :recipe_processes do |mat| %>
    <%= render partial: "recipe_processes_form", locals: {df: mat } %>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
