<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
   <strong>Picture:</strong>
   <%= image_tag @recipe.photo.url(:medium) %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @recipe.expense %>
</p>

<p>
  <strong>Time:</strong>
  <%= @recipe.time %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @recipe.memo %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
